In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion':["squared_error", "absolute_error", 'friedman_mse', 'poisson'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)

In [8]:
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
25 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.81943034 0.83348783 0.81247931 0.83348633
        nan        nan 0.8157724  0.83424295 0.82456747 0.83070285
        nan        nan 0.82115808 0.83513341 0.80912217 0.83366565
        nan        nan 0.81480242 0.83125624 0.82027953 0.83358782]
  warnings.warn(
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
re=grid.cv_results_
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [10]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002792,3.984024e-04,0.000000,0.000000e+00,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.004587,3.868540e-03,0.000000,0.000000e+00,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.101533,1.127408e-02,0.009776,1.465999e-03,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.846891,0.762070,0.857642,0.807646,0.822903,0.819430,0.033631,12
3,0.976641,1.456392e-01,0.022942,1.545880e-03,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.857096,0.778224,0.864695,0.827370,0.840054,0.833488,0.030548,5
4,0.090361,1.620534e-03,0.008581,4.887340e-04,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.852868,0.753271,0.825335,0.806759,0.824164,0.812479,0.033080,15
5,0.827633,8.355185e-03,0.022542,4.892012e-04,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.860176,0.775666,0.859814,0.829064,0.842712,0.833486,0.031155,6
6,0.001995,1.033758e-06,0.000000,0.000000e+00,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.002395,7.988459e-04,0.000000,0.000000e+00,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.247550,3.157568e-02,0.009577,1.196703e-03,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.834253,0.757636,0.837696,0.824686,0.824591,0.815772,0.029527,13
9,2.198843,1.898932e-01,0.025534,7.714458e-03,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.859097,0.783153,0.859744,0.826367,0.842853,0.834243,0.028335,2
10,0.250543,6.328086e-02,0.023140,3.082136e-02,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.847468,0.761007,0.849010,0.819487,0.845865,0.824567,0.033589,9
11,2.335485,2.351826e-01,0.023740,4.610126e-03,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.858400,0.775042,0.854845,0.825319,0.839908,0.830703,0.030205,8
12,0.001995,6.217196e-07,0.000000,0.000000e+00,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.001995,9.221592e-07,0.000000,0.000000e+00,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.091957,2.309550e-03,0.008181,9.772338e-04,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.843928,0.763950,0.838468,0.823517,0.835927,0.821158,0.029375,10
15,0.891865,3.839807e-02,0.024538,3.816091e-03,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859176,0.778870,0.862095,0.832149,0.843377,0.835133,0.030158,1
16,0.091957,3.178741e-03,0.008380,4.880933e-04,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.839955,0.744886,0.839483,0.810023,0.811265,0.809122,0.034653,16
17,0.866928,1.794634e-02,0.023142,1.466064e-03,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.855211,0.779797,0.861349,0.829472,0.842500,0.833666,0.029079,3
18,0.001995,4.422006e-07,0.000000,0.000000e+00,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.001595,4.878968e-04,0.000000,0.000000e+00,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.101932,2.778205e-03,0.007981,8.035803e-07,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.831792,0.754747,0.838719,0.819205,0.829548,0.814802,0.030673,14
21,0.975047,1.780438e-02,0.022942,1.092624e-03,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.853865,0.776321,0.854160,0.825987,0.845949,0.831256,0.029316,7
22,0.112504,6.949660e-03,0.008579,2.719747e-03,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.843034,0.765865,0.837706,0.816482,0.838312,0.820280,0.028712,11
23,0.975844,2.265236e-02,0.022742,7.463530e-04,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.858962,0.774213,0.862115,0.826888,0.845761,0.833588,0.032175,4

In [11]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:23
BMI:35
children:1
sex male 0 or 1:0
smoker yes 0 or 1:0

In [12]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction{}:",format(Future_Prediction))

Future_Prediction{}: [4352.5185408]

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(